---
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
StatementMacros:
  - INITMAPLEHOOK
  - INITWINHOOK
  - HOOKTYPEDEF_C
